audio::-webkit-media-controls-panel {
  background-color: #fbf1ff;
}

audio::-webkit-media-controls-play-button {
  background-color: #7e5ac060;
  border-radius: 50%;
}

audio::-webkit-media-controls-timeline {
  accent-color: #7e5ac0;
}

audio::-webkit-media-controls-volume-slider {
  accent-color: #7e5ac0;
}
