/* 
.green 에 positon absolute 선언
top : 50%
left : 50%
*/

/* .parent의 position을 변경해서 기준변경을 확인 
relative, absolute, fixed
*/

.green {
  position: absolute;
  top: 50%;
  left: 50%;
}

.parent {
  position: static;
  position: relative;
  position: absolute;
  position: fixed;
  top: 100px;
  left: 100px;
}
